.detail-container {
    flex: 1;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 50px;
}

.main_header {
    display: flex;
    margin-top: 35px;
    align-items: left;
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: space-between;
}

.main_header h1 {
    left: 0;
    font-size: 28px;
    font-weight: bold;
}

.back-link {
    color: #4a5568;
    font-size: 14px;
    margin-bottom: 40px;
    display: inline-block;
    text-decoration: none;
}

.back-link:hover {
    text-decoration: underline;
}

.deduction-detail {
    margin-top: auto;
    text-align: center;
}

.deduction-info {
    padding: 20px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.info-row {
    display: flex;
    padding: 10px 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid #e2e8f0;
    justify-content: space-between;
}

.label {
    color: #61788a;
    font-size: 14px;
    font-weight: bold;
}

.value {
    width: 70%;
    border: none;
    outline: none;
    color: #61788a;
    font-size: 14px;
    text-align: right;
    text-decoration: none;
    background-color: transparent;
}

.actions {
    display: flex;
    text-align: center;
    margin-bottom: auto;
    justify-content: space-between;
}

.cancel-button {
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    min-width: 100px;
    max-width: 200px;
    text-align: center;
    border-radius: 8px;
    padding: 10px 5vw;
    display: inline-block;
    text-decoration: none;
}

.edit-button {
    text-align: center;
    padding: 10px 100px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    border-radius: 8px;
}

.edit-button {
    background-color: #4a5568;
}

.edit-button:hover {
    background-color: #2d3748;
}

.cancel-button {
    background-color: #c53030;
}

.cancel-button:hover {
    background-color: #9b2c2c;
}

/* Estilo personalizado para checkbox */
.custom-checkbox {
    position: relative;
    display: inline-block;
    width: 22px;
    height: 22px;
}

.custom-checkbox input {
    opacity: 0;
    width: 0;
    height: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.custom-checkbox input:checked ~ .checkmark {
    background-color: #4a5568;
    border-color: #4a5568;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox input:checked ~ .checkmark:after {
    display: block;
}

.custom-checkbox .checkmark:after {
    left: 8px;
    top: 4px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
