{% extends 'deductions/base.html' %}
{% block title %}Deduction Detail{% endblock %}

{% block content %}
<h1>{{ deduction.name }}</h1>
<p>State: {{ deduction.get_state_display }}</p>
<p>Positions:</p>
<ul>
    {% for position in deduction.positions.all %}
    <li>{{ position.name }}</li>
    {% endfor %}
</ul>
<p>Depends on Salary: {{ deduction.depend_on_salary }}</p>
<a href="{% url 'deduction_update' deduction.pk %}">Edit</a>
<a href="{% url 'deduction_delete' deduction.pk %}">Delete</a>
<a href="{% url 'deduction_list' %}">Back to list</a>
{% endblock %}
