{% extends 'base.html' %}
{% load static %}

{% block title %}Eliminar Departamento{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/departments/delete.css' %}" />
{% endblock %}

{% block content %}
  <div class="delete-container">
    <div class="main_header">
        <h1>Eliminar Departamento</h1>
        <a href="{% url 'department_list' %}" class="back-link">&lt; Volver atrás</a>
    </div>
    
    <p class="confirmation-text">¿Estás seguro que deseas eliminar el departamento "{{ department.name }}"?</p>
    
    <form method="post" class="delete-form">
      {% csrf_token %}
      <button type="submit" class="delete-button">Sí, eliminar</button>
      <a href="{% url 'department_list' %}" class="cancel-button">Cancelar</a>
    </form>
  </div>
{% endblock %}

