{% extends 'base.html' %}
{% load static %}

{% block title %}Departamentos{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/departments/list.css' %}" />
{% endblock %}

{% block content %}
  <div class="main_cont">
    <div class="main_header">
        <h1>Departamentos</h1>
        <a href="{% url 'department_create' %}" class="create-button">Crear departamento</a>
    </div>
    
    <ul class="department-list">
        {% for department in departments %}
        <li class="department-item">
            <a href="{% url 'department_detail' department.pk %}">
                <div class="department-info">
                    <strong>{{ department.name }}</strong>
                    <p>{{ department.employee_set.count }} {{ department.employee_set.count|pluralize:"empleado,empleados" }}</p>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
  </div>
{% endblock %}

