{% extends 'base.html' %}
{% load static %}

{% block title %}Ingresos{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/incomes/list.css' %}" />
{% endblock %}

{% block content %}
  <div class="main_cont">
    <div class="main_header">
        <h1>Ingresos</h1>
        <a href="{% url 'income_create' %}" class="create-button">Crear ingreso</a>
    </div>
    
    <ul class="income-list">
        {% for income in incomes %}
        <li class="income-item">
            <a href="{% url 'income_detail' income.pk %}">
                <div class="income-info">
                    <strong>{{ income.name }}</strong>
                    <p>
                        {% if income.state == 'Habilitada' %}
                            Habilitado
                        {% else %}
                            Deshabilitado
                        {% endif %} 
                        - {% if income.depend_on_salary %}Depende del salario{% else %}No depende del salario{% endif %} 
                        - Aplica a {{ income.positions.count }} posiciones
                    </p>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
  </div>
{% endblock %}

